# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OOP\FEI-UIM-OOP-LS-21-cvicenie1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
